.display-fitur{
    margin-top: 20px;
    margin-left: 340px;
    
}


.fitur-1{
    font-size: 35px;
    margin-top: 20x;
    margin-left: 450px;
    color: #1100f881;
}

.fitur-2{
    font-size: 30px;
    margin-left: 350px;
}