.display-1{
    color: rgb(255, 153, 0);
    margin-top: 2cm;
    margin-left: 5cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15mm;
}

.Utama-1{
    margin-top: 20px;
    margin-left: 400px;
    font-size: 25px;
    color: #ff0000;
}